body{
  background: rgb(54, 122, 140);
  color: black;
  font-size: 24px;
  font-family: 'Patua One', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Patua One', sans-serif;
  color: F4F2F3;
  font-size: 25px;
}
h2 {
  font-family: 'Patua One', sans-serif;
  color: E59500;
  font-weight: bolder;
  font-size: 25px
  display: flex;
  align-items: stretch;
}
a {
  font-family: 'Patua One', sans-serif;
  color: FF6663;
}
a:hover {
  text-decoration: none;
  color: FF7F51;
}

p {
  color:FEFFFE;
}

#banner{
  background-image: url("file:///Users/CarineFury/Desktop/New_yorker_web-1200x1638-24fps_2.jpg");
  background-size: cover;
  height: 50vh;
  color: 000000;
  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: 840032;
  font-size: 100px;
}

#banner p {
  color: 173753;
  opacity: 0.9;
  font-size: 30px;
  font-weight: lighter;
}

#banner a {
  color: 840032
}

#footer{
  padding: 30px;
  background: rgb(00, 00, 00);
}

.card{
  margin-top: 30px;
  font-weight: lighter;
  text-align: center;
  width: 100%; 
}

.card h2 {
	margin: 10px;
}

.card img {
	width: 100%;
}

#footer a {
  color: DDFFF7;
  font-size: 25px;

}
#footer a:hover {
  color: white;
}